<div class="col l4 m5 s12">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title truncate">{{town.city}}</span>
      <app-wheather [wheather]="town.weather"></app-wheather>
      <div class="row mb0">
        <div class="col l6 m6 s6">
          <h6>{{date | timeAgo}}</h6>
        </div>
        <div class="col l6 m6 s6">
          <a (click)="reloadWeather()" class="btn-floating btn-large waves-effect waves-light light-blue lighten-1"><i class="material-icons left">refresh</i></a>
        </div>
      </div>
    </div>
    <div class="card-action light-blue lighten-1">
      <agm-map class="map" [latitude]="town.latitude" [longitude]="town.longitude">
        <agm-marker [latitude]="town.latitude" [longitude]="town.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
